<div class="devise-container-<%= detect_device %> ui raised segment">
  <div class="devise-image"><%= image_tag 'scuttlecrab.png' %></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="devise-fields-container ui form">
      <div class="devise-fields"><br />
        <div class="devise-field field">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true %>
        </div>
        <div class="devise-field field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="devise-field field">
          <label>New Password</label><i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="devise-field field">
          <label>New Password Confirmation</label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="devise-field field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      </div>
    </div>

    <div class="devise-button-container">
      <%= f.button "Update", type: :submit, class: "devise-button ui primary button" %>
    </div>
  <% end %>

  <div class="devise-delete-button-container">
    <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "devise-delete-button ui primary button" %>
  </div>

  <% if resource.errors.any? %>
    <div class="flash-error-message-container">
      <div class="ui negative message flash-error-message">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
    </div>
  <% end %>
</div>
