<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />

<div class="devise-container-<%= detect_device %> ui raised segment">
  <div class="devise-image"><%= image_tag 'scuttlecrab.png' %></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="devise-fields-container ui form">
      <div class="devise-fields"><br />
        <div class="devise-field field">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true %>
        </div>
        <div class="devise-field field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="devise-field field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="devise-field field">
          <%= f.label :password_confirmation, "Password Confirmation" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
    </div>

    <div class="devise-button-container">
      <%= f.button "Sign up", type: :submit, class: "devise-button ui primary button" %>
    </div>
  <% end %>

  <% if resource.errors.any? %>
    <div class="flash-error-message-container">
      <div class="ui negative message flash-error-message">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
    </div>
  <% end %>
</div>

<div class="devise-shared-links">
  <%= render "devise/shared/links" %>
</div>
