<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />

<% if detect_device == "mobile" %>
  <div class="devise-login-container-mobile ui raised segment">
<% else %>
  <div class="devise-login-container-desktop ui raised segment">
<% end %>
  <div class="devise-login-image"><%= image_tag 'scuttlecrab.png' %></div>
  <div class="devise-login-fields-container ui form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="devise-login-fields">
        <br />
        <div class="devise-field field">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true %>
        </div>

        <div class="devise-field field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="devise-field field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="devise-field field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
      <br />
      <div class="devise-login-submit">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <% if resource.errors.any? %>
      <div class="flash-error-message-container">
        <div class="ui negative message flash-error-message">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class="devise-login-shared-links">
  <%= render "devise/shared/links" %>
</div>
