<div class="devise-container-<%= detect_device %> ui raised segment">
  <div class="devise-image"><%= image_tag 'scuttlecrab.png' %></div>
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

    <div class="devise-fields-container ui form">
      <div class="devise-fields"><br />x
        <div class="devise-field field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
    </div>

    <div class="devise-button-container">
      <%= f.button "Resend Unlock Instructions", type: :submit, class: "devise-button ui primary button" %>
    </div>
  <% end %>

  <% if resource.errors.any? %>
    <div class="flash-error-message-container">
      <div class="ui negative message flash-error-message">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
    </div>
  <% end %>
</div>

<div class="devise-shared-links">
  <%= render "devise/shared/links" %>
</div>
