<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />

<% if detect_device == "mobile" %>
  <div class="devise-container-mobile ui raised segment">
<% else %>
  <div class="devise-container-desktop ui raised segment">
<% end %>

  <div class="devise-image"><%= image_tag 'scuttlecrab.png' %></div>
  <div class="devise-fields-container ui form">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <br />

      <div class="devise-fields">
        <div class="devise-field field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <br />

      <div class="devise-submit">
        <%= f.submit "Reset" %>
      </div>
    <% end %>

    <% if resource.errors.any? %>
      <div class="flash-error-message-container">
        <div class="ui negative message flash-error-message">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="devise-shared-links">
  <%= render "devise/shared/links" %>
</div>
