<!DOCTYPE html>
<html>
<head>
  <title>ScuttleScrims</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
  <%= csrf_meta_tags %>
</head>
<body>

  <% if detect_device == "mobile" %>
    <%= render "layouts/navbar_mobile" %>
  <% else %>
    <%= render "layouts/navbar_desktop" %>
  <% end %>

  <% if !notice.nil? %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <%= yield %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>

  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>

</body>
</html>
